
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div> 
        <form method="post" action="Validate">
            uSERNAME:-<input name="UserName" type="text" /><BR>
            pASSWORD:-<input name="Password" type="text" /><br>
            <input id="Submit1" type="submit" value="submit" />
        </form>
    </div>
</body>
</html>
