@model Models.Customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customer</title>
</head>
<body>
    <div>        
        The Customer code is: @Model.CustomerCode <br>
        The Customer Name is: @Model.CustomerName <br>
        @*@The Customer amount is: @Model.Amount; <br>*@
    </div>
</body>
</html>
